@import "./index.scss";

.page {
  color: var(--color);
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  transition: background-color var(--page-transition) ease,
    color var(--page-transition) ease;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.slider {
  -webkit-appearance: none;
  width: 20%;
  min-width: 150px;
  height: 12px;
  border-radius: 10px;
  transition: background var(--page-transition) ease;
  background: var(--slider-background);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 22px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid var(--background);
  transition: border var(--page-transition) ease,
    background var(--page-transition) ease;
  background: var(--slider-thumb);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 22px;
  border-radius: 50%;
  aspect-ratio: 1;
  transition: border var(--page-transition) ease,
    background var(--page-transition) ease;
  background: var(--slider-thumb);
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 10px;
  flex-wrap: wrap;
  h1 {
    flex-grow: 11;
    text-align: center;
  }
  border-bottom: 0.5px solid var(--color);
  transition: border-bottom var(--page-transition) ease;
}

.themeControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  align-self: flex-start;
  span {
    text-transform: capitalize;
  }
  margin-left: 50px;
  flex-grow: 1;
}

.ThemeIcon {
  fill: var(--theme-icon-fill);
  transition: fill calc(var(--page-transition) * 1.7) ease;
  width: 40px;
  height: 40px;
}

.footer {
  margin-block: 20px;
  width: 100%;
  text-align: center;
}

.body {
  height: 100%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.QRContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.QRDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 60%;
}

.formCard {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--color);
  transition: background-color var(--page-transition) ease,
    color var(--page-transition) ease,
    box-shadow var(--page-transition) ease;
  background-color: var(--form-color);
  border-radius: 10px;
  width: 60%;
  padding-block: 15px;
  padding-inline: 20px;
  box-shadow: 0px 10px 0px 0px var(--form-shadow);
}

.QRCard {
  width: 70%;
  aspect-ratio: 1;
  background-color: var(--qr-background);
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    width: 90% !important;
    height: 90% !important;
    border-radius: 20px;
  }
}

.textInput {
  transition: border-bottom 0.4s ease, color var(--page-transition) ease;
  width: 100%;
  color: inherit;
  height: 30px;
  background-color: transparent;
  outline: none;
  font-size: 1em;
  color: var(--input-color);
  border-bottom: 1px solid var(--non-active-input);
  margin-top: 5px;
  margin-bottom: 20px;
}

.textInput:focus {
  border-bottom: 1px solid var(--active-input);
}

.formLabels {
  font-weight: bold;
  text-align: start;
}

.submitButton {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--send-button-color);
  border: none;
  color: var(--send-button-color-text);
  text-align: center;
  padding-inline: 20px;
  padding-block: 10px;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  transition: width 0.4s ease, padding-right 0.4s ease, background-color var(--page-transition) ease;
}

.submitButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitButton span:after {
  content: ' >>';
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: -2ch;
  transition: right 0.4s ease, opacity 0.4s ease;
}


.submitButton:hover span:after {
  display: inline-block;
  right: -5ch;
  opacity: 1;
}

.submitButton:hover {
  padding-right: 7ch;
}

.formTip{
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  opacity: 0;
  transition: top 1.5s ease, opacity 1.5s ease;
  transition-delay: 3s;
}

.showTip{
  top: -100px;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .themeControl {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    align-self: auto;
    flex-wrap: wrap;
    margin: 0;
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  .QRContainer {
    margin-block: 50px;
    width: 100%;
  }

  .QRDetails {
    display: flex;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 10px;
  }

  .formTip{
    display: none !important;
  }
}
